<div class="body">
  <%= render "shared/navbar" %>
  <div class="container">
    <%# narbar section %>

    <%# trip picture and details %>


  <div class="container-square">
      <% @trips.each do |trip| %>
        <%= render "shared/card", title: trip.title, duration: trip.duration, photo: (render "carousel") %>
      </div>

        </div>
      <%= link_to 'Details', trip_path(trip), class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>
  <%= render "shared/footer" %>
</div>
