<div class="body">
  <%= render "shared/navbar" %>
  <div class="container">
    <h1>Find inspiration for your next trip from one of our many users...</h1>
    <div class="indexcards">
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip), style: "text-decoration: none; color: black;" do %>
          <% unless trip.landmarks.empty? %>
            <%= render "shared/card", title: trip.title, duration: trip.duration, photo: trip.landmarks[0].photo.key, tags: trip.tags, likes: trip.likes%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
