<main class="container">
  <%= link_to sanitize("&larr; Back to comments"), trip_path(@trip) %>

  <div class="header">
    <h1>New comment</h1>
  </div>

  <%= turbo_frame_tag @comment do %>
    <%= render "form", comment: @comment %>
  <% end %>

</main>
