// Specific CSS for your home-page
#homepagecelebs {
}
#heading-black {
  color: black;
  font-size: xx-large;
}
.search-style {
  width: 800px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
