<div class="card-landmark">
  <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
    <div class="landmark-1">
      <img class="card-landmark-img" src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/01-best-buddhist-temples-dgk07h.jpg?w=1900&h=1267"/>
      <div class="location-end">
        <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <a href="#" target="_blank"><i class="fa-sharp fa-solid fa-map-pin"></i> Location</a>
          <div class="card-landmark-infos">
            <div class="landmark-2">
              <h3>Landmark name</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
