      <div class="card-bookmark">
          <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <div class="bookmark-1">
            <img class="card-bookmark-img" src="https://media.cntraveler.com/photos/61eae2a9fe18edcbd885cb01/5:4/w_3790,h_3032,c_limit/Seychelles_GettyImages-1169388113.jpg"/>
              <div class="location-end">
              <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
              <a href="#" target="_blank"><i class="fa-solid fa-bookmark"></i></a>
            <div class="card-bookmark-infos">
              <div class="bookmark-2">
              <h3>Title</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
                </div>
              <% end %>
          <% end %>
            </div>
          </div>
            </div>
