<div class="footer footer-expand-sm footer-light text-center d-flex justify-content-between">
  <div class="footer-copyright">
    TravelPlan - Find your travel inspiration!
  </div>
  <div class="footer-links">
    <a href="https://github.com/conniecasimiro/sellebrity" target="_blank">Home</a>
    <a href="https://github.com/conniecasimiro/sellebrity" target="_blank">About us</a>
    <a href="https://github.com/conniecasimiro/sellebrity" target="_blank">Contact us</a>
    <a href="https://github.com/conniecasimiro/sellebrity" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/drunkpeopledoingthings/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thepetcollective/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/VancityReynolds?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1369052538121691141%7Ctwgr%5E5aa0ed60cb64caf99d740f29839e52307b0f88c9%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fwww.rd.com%2Farticle%2Ffunniest-twitter-accounts%2F" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
