<div class="icon-bar">
  <a href= "/" class="Home"><i class="fa-solid fa-house"></i></a>
  <a href="/trips" class="Explore"><i class="fa-solid fa-earth-americas"></i></a>
  <a href="/trips/new" class="Create"><i class="fa-solid fa-plus"></i></a>
  <a href="/users/<%=current_user.id%>" class="Profile"><i class="fa-solid fa-user"></i></a>
</div>
