<div class="icon-bar">
  <% if user_signed_in? %>
  <a href= "#top" class="Top"><i class="fa-solid fa-angle-up"></i></a>
  <a href= "/" class="Home"><i class="fa-solid fa-house"></i></a>
  <a href="/trips" class="Explore"><i class="fa-solid fa-earth-americas"></i></a>
  <a href="/trips/new" class="Create"><i class="fa-solid fa-plus"></i></a>
  <a href="/users/<%=current_user.id%>" class="Profile"><i class="fa-solid fa-user"></i></a>
  <%# <a href= "#Bottom" class="Bottom"><i class="fa-solid fa-angle-down"></i></a> %>
  <% end %>
</div>
