
<div id="carouselExampleControls" class="carousel slide mb-4" data-bs-ride="true">
  <%# <div class="carousel-Controls">
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div> %>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag photo, height: 300, width: 300, class:"d-block w-100", style:"object-fit: cover" %>
    </div>
      <% photo2.each do |landmark| %>
    <div class="carousel-item">
      <%= cl_image_tag landmark.photo.key, height: 300, width: 300, class:"d-block w-100", style:"object-fit: cover" %>
    </div>
      <% end %>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
