.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-end {
  position: absolute;
  bottom: -37.5px;
  right: 10px;
  object-fit: cover;
  }

  .avatar-card {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-profile {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-book {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;

    }
