.banner {
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 3px rgb(56, 55, 55);
  height: 400px;
  padding-left: 17px;
  padding-right: 10px;
  padding-top: 100px;
  margin-bottom: 20px;

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 70px;
    font-weight:700;
    letter-spacing: 2px;
  }

  p {
    font-size: 30px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

#banner-content{
  margin-bottom: 44px;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  height: 42px;
  font-size: large;

}


.banner-profile {
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 3px rgb(56, 55, 55);
  height: 250px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  margin-bottom: 20px;
  vertical-align: middle;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.container-profile {
  margin-left: 10px !important;

}

.profile-1 {
  padding: 30px;
  color: white;

  h2 {
    font-size: 60px;
    font-weight: bold;
  }

  h4 {
    font-size: 28px;
  }
}


.carouselcaption {
  position: absolute;
  right: 3%;
  bottom: 1.25rem;
  left: 3%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 25px #000000;

  h1 {
    font-weight: 900;
  }
}

.mapandlandmarks {
  position: relative;
  margin-bottom: 30px;

}

.maplandmarks {
  width: 50%;
  position: sticky;
  top: 0;
  height: 90vh;
}

.landmarkwidth {
  width: 50%;

}

.carouselwidth {
  width: 100%;
}

.mymap {
  width: 100%;
  height: 90vh;
}
#mymap {
  width: 100%;
  height: 90vh;}

#divv {
  width: 100%;
  height: 90vh;}


.container-comments {
  height: 90vh;
  white-space: nowrap;      /*keep text on one line */
  overflow: scroll;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis;
  }


.title {
  font-size: 65px;
}

.username {
  font-size: 40px;
}

.description {
  font-size: 20px;
}
