.banner {
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 3px rgb(56, 55, 55);
  height: 400px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  margin-bottom: 20px;

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 70px;
    font-weight:400;
  }

  p {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner-profile {
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 3px rgb(56, 55, 55);
  height: 400px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.container-profile {
  margin-left: 10px !important;

}

.profile-1 {
  padding: 50px;
  margin-top: 20px;
  color: white;

  h2 {
    font-size: 60px;
    font-weight: bold;
  }

  h4 {
    font-size: 28px;
  }
}


.carouselcaption {
  position: absolute;
  right: 3%;
  bottom: 1.25rem;
  left: 3%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 25px #000000;

  h1 {
    font-weight: 900;
  }
}

.mapandlandmarks {
  position: relative;
}

.maplandmarks {
  width: 50%;
  position: sticky;
}

.landmarkwidth {
  width: 50%;
}

.carouselwidth {
  width: 100%;
}

.mymap {
  width: 100%;
  height: 600px;
}
#mymap {
  width: 100%;
  height: 600px;
}

#divv {
  width: 100%;
  height: 600px;
}
