.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #000000ce;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #000000;
  color: white;
}

.btn-flat2 {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #616161ce;
  transition: background 0.3s ease;
}

.btn-flat2:hover {
  background: #3e3e3ece;
  color: white;
}

.page-item {
  color: white;
  padding: 8px 14px;
  background: rgb(214, 214, 214);
  transition: background 0.3s ease;
  a {
    text-decoration: none;
  }
  border: solid rgb(193, 193, 193);
  border-width: 1px;
  border-left: none;

}

.page-item:hover {
  background: rgb(185, 185, 185);
  color: white;
}

#corner-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: solid rgb(193, 193, 193);
  border-left-width: 1px;
}

#corner-right {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pages {
  margin-top: 10px;
  margin-bottom: 20px;
  li{
    display:inline;
    list-style: none;
  }
}

.like-button {
  text-decoration: none;
  border: none;
  background-color: $bgblue;
  font-size: 50px;
  }


  .like-button:disabled {
      text-decoration: none;
      border: none;
      background-color: $bgblue;
      color: red;
    }
