

.route-landmark {
  overflow: hidden;
  position: relative;
  background: #e9f4fb;;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.081);
  gap: 19px;
  display: flex;
  align-items: center;
  width: 270px;
  height: 55px;
  border-radius: 5px 5px 5px 5px;
    h5 {
      margin-bottom: 0px;
    }
}
.route-landmark-img {
  width: 100px;
  height: 55px;
  border-width: thin;
  display: flex;
  align-items: center;
  justify-content: center;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

  }
.card-landmark {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: 610px;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

}

.card-landmark-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-landmark-infos {
  padding-left: 15px;
  display: flex;
  text-align: left;
  h3 {
    margin: 0 auto;
  }
  p{
    margin: 0 auto;
  }
}

.landmark-1 {
  display: flex;

}
.landmark-2 {
  p {
    font-size: 15px;
  }
}




.location-end {
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
  width: 410px;
  a {
    text-decoration: none;
    color: black;
  }
}

.container-landmark-outer {
  padding: 15px 15px 30px;

  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 768px) {
  .container-landmark-outer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-landmark-outer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-landmark-outer {
    width: 1370px;
  }
}
