.create-route {
overflow: hidden;
position: relative;
background: white;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.081);
display: flex;
gap: 10px;
align-items: center;
width: 300px;
height: 45px;
border-radius: 50px 0px 50px 0px;
  p {
    margin-bottom: 0px;
  }
}
.create-icon {
width: 80px;
height: 45px;
border-radius: 50px 0px 50px 0px;
background: $bgblue;
border-width: thin;
display: flex;
align-items: center;
justify-content: center;
 img {
  width: 30px;
 }
}
#route-icon {
  width: 25px;
  margin-left: 135px ;
}
