.create-route {
overflow: hidden;
background: white;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.081);
display: flex;
gap: 10px;
align-items: center;
width: 300px;
height: 45px;
border-radius: 50px 0px 50px 0px;
  p {
    margin-bottom: 0px;
  }
}
.create-icon {
width: 80px;
height: 45px;
border-radius: 50px 0px 50px 0px;
background: $bgblue;
border-width: thin;
}
