.card-bookmark {
  margin-top: 20px;
  width: 400px;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 5px;
  justify-items: center;
}

.container-bookmark {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px 0px 10px;
  }
  .headers-profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0px 10px;
    justify-items: center;
    }

.card-bookmark-img {
left: 0%;
top: 0%;
object-fit: cover;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}

.card-bookmark-infos {
  padding: 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  h3 {
    margin: 0 auto;
  }
  p{
    margin: 0 auto;

  }
}
.bookmark-1 {
  display: flex;
  justify-content: space-between;
}


.home-links{
  text-align: end;
  padding: 20px;
}

.location-end {
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
  a {
    text-decoration: none;
    color: black;
  }

}

.container-mytrips {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 10px 10px 10px;
  border-radius: 2px;

}

.container-mybookmarks {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 10px 10px;
  border-radius: 2px;
  justify-items: center;

  .card-square {
    margin-top: 10px;
  }

}

.profile-outer {
  width: 100%;
}

.empty-bookmarks {
  display: block;
  padding-top: 10px;
}
