
.card-square {
  margin-top: 20px;
  width: 300px;
  height: 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.container-square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}


.card-square-img {
  img {
    height: 300;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
  }
}

.card-square-infos {
  padding: 12px 15px 1px;
}

.square-1 {
  position: relative;
}

.square-2 {
  h5{
    width: 200px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 20px;
  }
  p {
    margin: 2px;
  }
  ul {
    padding: 0;
    position: absolute;
    bottom: 40px;
    li {
      display:inline;
    }
    }
}

.days {
  position: absolute;
  bottom: 0;
}

.square-3 {
  position: absolute;
  bottom: 0;
  display: flex;
  right: 0;
  padding-right: 25px;
  i {
    font-size: 30px;
  }
}

.home-links{
  text-align: center;
  padding: 20px;
}

.circle-icon {
  background-color: rgb(251, 195, 195);
  color: rgb(64, 64, 64);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  padding: 5px;
}

.indexcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.likes-counter-index {
  font-size: 20px;
  margin-bottom: 10px;
}
