.create-route {
overflow: hidden;
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
display: flex;
align-items: center;
width: 254px;
height: 60px;
border-radius: 50px 0px 50px 0px;
}
.create-icon {
width: 100px;
height: 60px;
border-radius: 50px 0px 50px 0px;
background: rgb(255, 255, 255);
border: solid rgb(161, 161, 161);
}
