.card-landmark {
  margin-top: 20px;
  width: 600px;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 5px;
  justify-self: center;
}

.container-landmark {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 10px 0px 10px;
  }


.card-landmark-img {
height: 150px;
width: 150px;
left: 0%;
top: 0%;
object-fit: cover;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}

.card-landmark-infos {
  padding: 0px 15px 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  h3 {
    margin: 0 auto;
  }
  p{
    margin: 0 auto;

  }
}
.landmark-1 {
  display: flex;
  justify-content: space-between;
}


.home-links{
  text-align: end;
  padding: 20px;
}

.location-end {
  text-align: end;
  padding-right: 20px;
  padding-top: 10px;
  a {
    text-decoration: none;
    color: black;
  }

}
