.card-square {
    margin-top: 20px;
    width: 300px;
    height: 450px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 5px;

  }

  .container-square {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    }


.card-square-img {
  height: 300px;
  width: 300px;
  left: 0%;
  top: 0%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

  .card-square-infos {
    padding: 12px 15px 1px;

  }

.square-1 {
  position: relative;
}

.square-2 {
h5{
  width: 200px;
  margin-top: -30px;
  font-weight: bold;
  font-size: 20px;
}
p {
  margin: 2px;
}
}


  .square-3 {
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
  }

  .home-links{
    text-align: end;
    padding: 20px;
  }
