.container-width {
  width: auto;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
  max-height:max-content;
  .fa-solid {
    font-size: x-large;
    margin-bottom: 38px;
  }
}
.container-width .fa-solid {
  font-size: xx-large;
  margin-bottom: 0px;
}
#bg-blue {
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}
.add-travel {
  display: flex;
  gap: 20px;
  h2 {
    margin: 0;
  }
  .fa-solid {
    font-size: xxx-large;
  }
}
#container-flex {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 0;
  background-color: #BEDEF3;
  max-height: 100vh;
}
#bg-blue {
background-color: #BEDEF3;
}
.create-hide {
  display: none;
}
.create-flex {
  max-height: 100vh;
  display: flex;
  align-items:stretch;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  #grey-icon {
    color: #6d6d6d;
  }
  .fa-solid {
    color: rgb(255, 255, 255);
    font-size: medium;
  }
}
#bg-light-blue {
 background-color: #E9F4FB;
 overflow:hidden;
 h1 {
  margin-bottom: 20px;
 }
 h2 {
  margin-bottom: 20px;
 }
 img {
  object-fit: cover;
  object-position: 0px;
  width: 100%;
  height: 100%;
 }
}
