#container-flex {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 0;
  background-color: white;
  height: 100vh;
}
.simple-form-style {
  font-size: 22px;
  margin-bottom: 0px;
}
.route_destination{
  label {
    font-size: 1rem;
  }
}
.form-label{
  // font-size: 1rem;
}

.container-width {
  overflow:hidden;
  h1 {
    font-weight: 900;
  }
  width: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  height: 100%;
  gap: 20px;
  position: relative;
  .fa-delete-left {
    font-size: x-large;
    position: absolute;
    top: 0px;
    left: -53px;
    margin-left: 10%;
    margin-top: 5%;

  }
}
.check-boxes {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  span {
    display: flex;
    gap: 5px;
  }
}
.container-width .fa-solid {
  font-size: xx-large;
  margin-bottom: 0px;
}
#bg-blue {
  background-color: #BEDEF3;
  h1 {
    font-weight: 900;
  }
  p {

  }
}
.add-travel {
  display: flex;
  gap: 20px;
  align-items: center;
  h2 {
    margin: 0;
    margin-bottom: 0px;
  }
  .fa-solid {
    font-size: xxx-large;
  }
}

#bg-blue {
background-color: #BEDEF3;
}
.create-hide {
  display: none;
}
.create-flex {
  max-height: 100vh;
  display: flex;
  align-items:stretch;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  #grey-icon {
    color: #6d6d6d;
  }
  .fa-solid {
    color: rgb(255, 255, 255);
    font-size: medium;
  }
}
#bg-light-blue {
 background-color: #E9F4FB;
 overflow:hidde
 h1 {
  font-weight: 900;
 }
 h2 {
  margin-bottom: 0px;
 }
 img {
  object-fit: cover;
  object-position: 0px;
  object-position:top;
  width: 100%;
  height: 80%;
 }
}
