.footer {
  width: 100%;
  background-color: $navblue;
  color: black;
  padding: 5px;
  height: 40px;

  .footer-links a {
    margin: 5px;
  }

  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  a:hover {
    color: rgb(75, 67, 100)
  }

}
