.likes-section {
padding: 0;
margin: 0;
position: absolute;
right: 20px;
top: 70px;
z-index: 3;
p {
  font-size: 30px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
}

.red {
  color:red !important;
  opacity: 1 !important;
  animation: heartBeat;
  animation-duration: 2s;
}

.likes {
  text-align: center;
  margin: 0;
}


.like-button {
  text-decoration: none;
  color: dimgray;
  opacity: .7;
  border: none;
  background-color: transparent;
  font-size: 80px;
  }

  .like-button-index {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    }


.likes-counter {
  margin-top: -19px;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

// .like-button {
//   backdrop-filter: invert(90%);
//   margin-bottom: 0px;
//   border-top-right-radius: 10px;
//   border-top-left-radius: 10px;
// }
