.navbar-travelplan {
  justify-content: space-between;
  background: $tplan;
  box-shadow: 0px 0px 3px rgb(56, 55, 55);

}

.navbar-travelplan .navbar-collapse {
  flex-grow: 0;
}

.navbar-travelplan .navbar-brand img {
  width: 200px;
}
